body {
  font-family: Manrope;
}
.site-logo {
  margin-top: 30px;
  margin-left: 40px;
  padding: 5px;
  border-radius: 24px;
  border: 1px black solid;
  height: 38px;
  width: 110px;
  font-weight: 600;
  font-size: 18px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row-form-container {
  margin-top: 20px;
  width: 90%;
}
label {
  display: flex;
  text-align: right;
  justify-self: right;
}
#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 35vw;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  border: 2px solid #748efe;
  border-top: none;
}
input[type="email"],
input[type="password"] {
  margin: 0;
  width: 90%;
  height: 4vh;
  border-radius: 10px;
  border: 0.5px solid #333333;
  padding-left: 10px;
  font-size: 17px;
}

input[type="submit"],
input[type="button"] {
  width: 15vw;
  height: 5vh;

  margin-top: 20px;
  margin-bottom: 20px;

  background-color: #748efe;
  color: white;
  font-size: 17px;
  font-weight: 600;

  border-radius: 20px;
  border: 1px solid #748efe;

  transition: transform 0.2s ease;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  transform: scale(1.05);
}

input[type="submit"]:active,
input[type="button"]:active {
  animation: bounce 0.3s ease;
}

input[type="button"] {
  margin-top: 0;
}

.choice-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.login-choice-button {
  width: 50%;
  height: 6vh;

  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 600;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid #748efe;
  cursor: pointer;

  transition: transform 0.2s ease;
}

.active-button {
  border-bottom: none;
}

.inactive-button {
  border: none;
}

.design-div {
  width: 100%;
  display: flex;

}

.first-rec, .sec-rec {
  width: 50%;
  height: 20px;
  border-radius: 25;
  border: 2px solid #748efe;
  border: none;
}

.sec-rec {
  border-top: 2px solid #748efe;
  border-top-right-radius: 100px;
}

.reg-hint {
  margin-top: 10px;
  margin-bottom: 5px;
}

.inverted-button.auth-button {
  background-color: white;
  color: #425cd1;
}